@-webkit-keyframes jiggle {
  0% {
    -webkit-transform: rotate(calc(var(--jiggle-rotation) * -1));
            transform: rotate(calc(var(--jiggle-rotation) * -1));
  }
  50% {
    -webkit-transform: rotate(var(--jiggle-rotation));
            transform: rotate(var(--jiggle-rotation));
  }
}

@keyframes jiggle {
  0% {
    -webkit-transform: rotate(calc(var(--jiggle-rotation) * -1));
            transform: rotate(calc(var(--jiggle-rotation) * -1));
  }
  50% {
    -webkit-transform: rotate(var(--jiggle-rotation));
            transform: rotate(var(--jiggle-rotation));
  }
}

:root {
  --dark-liver: #5b5863ff;
  --sonic-silver: #77767aff;
  --persian-indigo: #32156bff;
  --medium-purple: #9d6dfcff;
  --ultramarine: #5612deff;
  --bg-color: #090820;
  --active-btn-col: #ff007f;
  --icons-btn-size: 3rem;
  --jiggle-rotation: 9deg;
  --rectangle-width-border-radius: 20%;
  --rectangle-height: 40vh;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  overflow: hidden;
  color: black;
}

.dropzone {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(237, 245, 255, 0.2);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
}

.dropzone.active {
  opacity: 1;
  visibility: visible;
}

.dropzone .border {
  width: 2.5vh;
  height: 2.5vh;
  border: 1px rgba(0, 0, 0, 0.5) dotted;
  -webkit-transform: scale(15) translateY(-5%) !important;
          transform: scale(15) translateY(-5%) !important;
  border-radius: 15%;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(45%, -50%);
          transform: translate(45%, -50%);
}

.dropzone .text {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(45%, -50%);
          transform: translate(45%, -50%);
}
