@-webkit-keyframes jiggle {
  0% {
    -webkit-transform: rotate(calc(var(--jiggle-rotation) * -1));
            transform: rotate(calc(var(--jiggle-rotation) * -1));
  }
  50% {
    -webkit-transform: rotate(var(--jiggle-rotation));
            transform: rotate(var(--jiggle-rotation));
  }
}

@keyframes jiggle {
  0% {
    -webkit-transform: rotate(calc(var(--jiggle-rotation) * -1));
            transform: rotate(calc(var(--jiggle-rotation) * -1));
  }
  50% {
    -webkit-transform: rotate(var(--jiggle-rotation));
            transform: rotate(var(--jiggle-rotation));
  }
}

:root {
  --dark-liver: #5b5863ff;
  --sonic-silver: #77767aff;
  --persian-indigo: #32156bff;
  --medium-purple: #9d6dfcff;
  --ultramarine: #5612deff;
  --bg-color: #090820;
  --settings-add-size: 6vh;
  --jiggle-rotation: 9deg;
  --rectangle-width-border-radius: 20%;
  --rectangle-height: 40vh;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  overflow: hidden;
  color: black;
}

.optionsButtons {
  position: absolute;
  top: 0.75%;
  right: 0.75%;
  z-index: 5;
}

.optionsButtons .linkInputWrapper {
  -webkit-transition: .5s;
  transition: .5s;
  overflow: hidden;
}

.optionsButtons .wrapper_bar {
  width: 100%;
}

.optionsButtons .wrapper_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 1vh;
}

.optionsButtons .settingsBtn {
  width: 100%;
  padding: 1%;
  margin-bottom: 1vh;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
  color: black;
  height: var(--settings-add-size);
  width: var(--settings-add-size);
  max-width: var(--settings-add-size);
  max-height: var(--settings-add-size);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.optionsButtons .adder {
  font-weight: 900;
}

.settingsPanel {
  position: absolute;
  top: 0.75%;
  right: 0.75%;
  height: var(--rectangle-height);
  width: calc(var(--rectangle-height) / 2);
  background-color: white;
  border-radius: var(--rectangle-width-border-radius)/calc(var(--rectangle-width-border-radius) / 2);
  overflow: hidden;
  padding: 1%;
}

.settingsPanel #fileUp {
  display: none;
}

.settingsPanel i {
  cursor: pointer;
  border-radius: 50%;
  background-color: black;
  color: white;
  height: var(--settings-add-size);
  width: var(--settings-add-size);
  max-width: var(--settings-add-size);
  max-height: var(--settings-add-size);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.settingsPanel .inputLabel {
  cursor: pointer;
  text-align: center;
  margin-top: 2.5vh;
  width: 100%;
  display: block;
  border-left: 0px;
  border-right: 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.settingsPanel .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.settingsPanel .close {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-bottom: 2vh;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
  border-radius: 50%;
  background-color: black;
  color: white;
  height: var(--settings-add-size);
  width: var(--settings-add-size);
  max-width: var(--settings-add-size);
  max-height: var(--settings-add-size);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=index.css.map */