:root {
  --french-bistre: #776d5aff;
  --cinereous: #987d7cff;
  --manatee: #a09cb0ff;
  --cadet-blue-crayola: #a3b9c9ff;
  --powder-blue: #abdae1ff;
  --raisin-black: hsl(0, 5%, 10%);
  --xiketic: hsl(240, 31%, 6%);
  --majorelle-blue: hsl(260, 90%, 60%);
  --majorelle-blue-2: rgba(86, 86, 245, 0.35);
  --magnolia: #e6e6f0ff;
  --col1: var(--majorelle-blue);
  --col2: var(--raisin-black);
  --col3: var(--xiketic);
  --col4: var(--majorelle-blue-2);
  --btnW: 7vh;
  --btnH: var(--btnW);
}

body {
  margin: 0;
  background-color: var(--col3);
}

.pushed {
  -webkit-transform: translateX(5vh);
          transform: translateX(5vh);
}

.menuContainer {
  z-index: 5;
  pointer-events: none;
  margin: 0.5% 1%;
  border: 1px solid white;
  border-radius: 2vh;
  float: right;
  overflow: hidden;
  width: var(--btnW);
  height: var(--btnH);
  -webkit-transition: width 2s ease-in-out, height 2s ease-in-out, border 2s ease-in-out;
  transition: width 2s ease-in-out, height 2s ease-in-out, border 2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--raisin-black);
  background-image: url("../../static/blob_scatter.svg");
  background-position: center;
  background-size: 700%;
  background-position-x: -45vh;
  background-position-y: -5vh;
}

.menuContainer.active {
  border: 0px solid;
  width: calc(var(--btnW) + 2vh);
  height: 90vh;
}

.menuContainer.active .menu {
  padding: 0% 12%;
}

.menuContainer.active .settingsBtnSpacer {
  width: 100%;
  height: 0.05vh;
}

.menuContainer #fileUp {
  display: none;
}

.menuContainer .settingsBtnSpacer {
  width: 0%;
  height: 0vh;
  background: rgba(255, 255, 255, 0);
  border-radius: 5vh;
  -webkit-transition: width 2s ease-in-out, height 2s ease-in-out, -webkit-transform 1s ease-in-out;
  transition: width 2s ease-in-out, height 2s ease-in-out, -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out, width 2s ease-in-out, height 2s ease-in-out;
  transition: transform 1s ease-in-out, width 2s ease-in-out, height 2s ease-in-out, -webkit-transform 1s ease-in-out;
}

.menuContainer .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: padding 1s ease-in-out;
  transition: padding 1s ease-in-out;
  z-index: 5;
}

.menuContainer .menu .settingsAll.active i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menuContainer .menu i {
  -webkit-transition: -webkit-transform 1.5s ease-in-out;
  transition: -webkit-transform 1.5s ease-in-out;
  transition: transform 1.5s ease-in-out;
  transition: transform 1.5s ease-in-out, -webkit-transform 1.5s ease-in-out;
}

.menuContainer .menu .settingsBtn {
  cursor: pointer;
  pointer-events: auto;
  z-index: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1vh;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.menuContainer .menu .settingsBtn.active .iconWrapper {
  background-color: white;
  color: black;
}

.menuContainer .menu .settingsBtn .text {
  font-family: var(--roboto);
}

.menuContainer .menu .settingsBtn .iconWrapper {
  width: var(--btnW);
  height: var(--btnH);
  background-color: black;
  background-position: center;
  background-size: 100%;
  color: white;
  border-radius: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
