@import "./mixins.scss";

@keyframes jiggle {
  0% {
    transform: rotate(calc(var(--jiggle-rotation) * -1));
  }
  50% {
    transform: rotate(var(--jiggle-rotation));
  }
}

:root {
  // Background color palette
  --dark-liver: #5b5863ff;
  --sonic-silver: #77767aff;
  --persian-indigo: #32156bff;
  --medium-purple: #9d6dfcff;
  --ultramarine: #5612deff;

  --bg-color: #090820;

  --icons-btn-size: 3rem;
  --jiggle-rotation: 9deg;
  --rectangle-width-border-radius: 20%;
  --rectangle-height: 40vh;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  overflow: hidden;
  color: black;
}

.optionsButtons {
  @include rightCornerPosition;
  z-index: 5;
  pointer-events: none;

  .linkInputWrapper {
    .linkInput{
      border-radius: 5vh;
    }
    transition: 0.5s;
    overflow: hidden;
  }

  .wrapper_bar {
    width: 100%;
  }

  .wrapper_div {
    &:nth-child(1) {
      z-index: 10;
    }
    pointer-events: none;
    display: flex;
    align-items: baseline;
    gap: 1vh;
  }

  .settingsBtnSpacer{
    width: 25%;
    height: 1vh;
    border-top: 1px #80808059 solid;
  }

  .settingsBtn {
    pointer-events: auto;
    z-index: inherit;
    width: 100%;
    padding: 1%;
    margin-bottom: 1vh;
    -webkit-font-smoothing: subpixel-antialiased;
    backface-visibility: hidden;
    // transition: 500ms ease-in-out;
    // TODO only apply when no touch device detected
    // &:hover {
    //   animation: jiggle 500ms ease-in-out infinite;
    // }
    @include roundedIconFrame(--icons-btn-size);
  }
  .adder {
    font-weight: 900;
  }
}

.settingsPanel {
  @include rightCornerPosition;

  height: var(--rectangle-height);
  width: calc(var(--rectangle-height) / 2);
  background-color: white;
  border-radius: var(--rectangle-width-border-radius) /
    calc(var(--rectangle-width-border-radius) / 2);
  overflow: hidden;
  padding: 1%;

  #fileUp {
    display: none;
  }

  i {
    @include roundedIconFrame(--icons-btn-size, black, white);
  }

  .inputLabel {
    cursor: pointer;
    text-align: center;
    margin-top: 2.5vh;
    width: 100%;
    display: block;
    border-left: 0px;
    border-right: 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
  }

  .icon {
    display: flex;
    justify-content: center;
  }

  .inputLabel::placeholder {
    // font-family: Arial, Helvetica, sans-serif;
  }

  .close {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-bottom: 2vh;
    transform: translateX(-50%);
    @include roundedIconFrame(--icons-btn-size, black, white);
  }
}
