@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "./mixins.scss";

@keyframes jiggle {
  0% {
    transform: rotate(calc(var(--jiggle-rotation) * -1));
  }
  50% {
    transform: rotate(var(--jiggle-rotation));
  }
}

:root {
  --roboto: "Roboto", sans-serif;

  // Background color palette
  --dark-liver: #5b5863ff;
  --sonic-silver: #77767aff;
  --persian-indigo: #32156bff;
  --medium-purple: #9d6dfcff;
  --ultramarine: #5612deff;

  --bg-color: #090820;

  --active-btn-col: #ff007f;

  --icons-btn-size: 2.5rem;
  --jiggle-rotation: 9deg;
  --rectangle-width-border-radius: 20%;
  --rectangle-height: 40vh;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  overflow: hidden;
  color: black;
}

canvas{
  z-index: -1;
}

.dropzone {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(237, 245, 255, 0.2);
  background-image: url("../../static/corner_blob_layered.svg");
  background-size: cover;
  background-position: center;
  background-size: cover;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  // opacity: 1;
  // visibility: visible;
  transition: transform 40s ease-in-out, opacity 0.3s ease-in-out,
    visibility 0.5s ease-in-out;

  &.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1.25);
  }

  .text {
    div:nth-child(2n) {
      font-weight: 900;
    }
    div {
      display: inline-block;
    }

    text-align: center;
    border: 1px dotted hsla(329, 38%, 43%, 0.258);
    font-family: var(--roboto);
    font-weight: 400;
    color: #96446e;
    @include centerAbsolute;
  }
}

.linkzone {
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  background-image: url("../../static/layer_waves3.svg");
  background-position: bottom;
  background-size: 119%;
  background-position-y: -37vh;
  width: 50vw;
  height: 10vh;
  border-radius: 2vh;
  display: flex;
  align-items: center;
  padding-left: 2%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s ease-in-out, visibility .25s ease-in-out;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  .content{
    display: flex;

    div {
      font-family: var(--roboto);
      font-weight: 400;
      color: rgb(214, 214, 214);
      margin-right: 2vh;
    }

    input{
      width: 40vh;
      background-color: white;
      border: none;
      border-radius: 1.5vh;
    }
  }
}
