@import "./mixins.scss";

@mixin setSize($height, $width) {
  height: $height;
  width: $width;
  padding: 0% 5vh;
}

:root {
  --french-bistre: #776d5aff;
  --cinereous: #987d7cff;
  --manatee: #a09cb0ff;
  --cadet-blue-crayola: #a3b9c9ff;
  --powder-blue: #abdae1ff;

  --raisin-black: hsl(0, 5%, 10%);
  --xiketic: hsl(240, 31%, 6%);
  --majorelle-blue: hsl(260, 90%, 60%);
  --majorelle-blue-2: rgba(86, 86, 245, 0.35);
  --magnolia: #e6e6f0ff;

  --col1: var(--majorelle-blue);
  --col2: var(--raisin-black);
  --col3: var(--xiketic);
  --col4: var(--majorelle-blue-2);

  --btnW: 7vh;
  --btnH: var(--btnW);

  --speed-mult: .8
}

body {
  margin: 0;
  background-color: var(--col3);
}

.pushed {
  // margin-left: 5vh;
  transform: translateX(5vh);
}

.menuContainer {
  z-index: 5;
  pointer-events: none;
  margin: 0.5% 1%;
  // background: linear-gradient(180deg, rgba(11, 11, 20, 0.521) 55%, rgba(11, 17, 20, 0.521) 75%, #7a3df5 150%);
  // border: 0.001vh solid rgba(255, 255, 255, 0.05);
  border: 1px solid white;
  border-radius: 2vh;
  float: right;
  overflow: hidden;
  width: var(--btnW);
  height: var(--btnH);
  // width: calc(var(--btnW) + 2vh);
  // height: 90vh;
  transition: width calc(2s * var(--speed-mult)) ease-in-out, height calc(2s * var(--speed-mult)) ease-in-out, border calc(2s * var(--speed-mult)) ease-in-out;
  display: flex;
  justify-content: center;
  background-color: var(--raisin-black);
  background-image: url("../../static/blob_scatter.svg");
  background-position: center;
  background-size: 700%;
  background-position-x: -45vh;
  background-position-y: -5vh;

  &.active {
    border: 0px solid;

    .menu {
      padding: 0% 12%; // 12%
    }
    .settingsBtnSpacer {
      width: 100%;
      height: 0.05vh;
    }

    width: calc(var(--btnW) + 2vh);
    height: 90vh;
  }

  #fileUp {
    display: none;
  }

  .settingsBtnSpacer {
    width: 0%;
    height: 0vh;
    background: rgba(255, 255, 255, 0);
    border-radius: 5vh;
    transition: transform calc(1s * var(--speed-mult)) ease-in-out, width calc(1s * var(--speed-mult)) ease-in-out,
      height 2s ease-in-out;
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
    transition: padding calc(1s * var(--speed-mult)) ease-in-out;
    z-index: 5;
    pointer-events: painted;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 0;
    }
    
    .settingsAll {
      &.active i {
        transform: rotate(180deg);
      }
    }

    i {
      transition: transform calc(1.5s * var(--speed-mult)) ease-in-out;
    }

    .settingsBtn {
      &.active .iconWrapper {
        background-color: white;
        color: black;
      }
      cursor: pointer;
      pointer-events: auto;
      z-index: inherit;
      display: flex;
      align-items: center;
      gap: 1vh;
      transition: transform calc(1s * var(--speed-mult)) ease-in-out;

      .text {
        font-family: var(--roboto);
      }

      .iconWrapper {
        // border: 0.01vh solid rgba(255, 255, 255, 0.3);
        width: var(--btnW);
        height: var(--btnH);
        background-color: black;
        background-position: center;
        background-size: 100%;
        // background: linear-gradient(
        //   0deg,
        //   hsla(240, 29%, 6%, 0.521) -100%,
        //   rgb(122, 61, 245) 150%
        // );
        color: white; //#FF0066;
        border-radius: 2vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: calc(1s * var(--speed-mult)) ease-in-out;
      }
    }
  }
}
