@mixin roundedIconFrame($size: 2vh, $bgCol: white, $fgCol: black) {
  cursor: pointer;
  border-radius: 50%;
  background-color: $bgCol;
  color: $fgCol;
  height: var($size);
  width: var($size);
  max-width: var($size);
  max-height: var($size);
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin rightCornerPosition {
  position: absolute;
  top: 0.75%;
  right: 0.75%;
}
